{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Mentions Légales
{% endblock %}

{% block body %}
    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
        MENTIONS LÉGALES</h1>
        
    <div class="container mt-5">
        <p>
            Bienvenue sur Share !
        </p>
        
        <p>
            Share est une plateforme de partage de fichiers et un blog en ligne qui offre des fonctionnalités de partage sécurisées et innovantes. Par l'utilisation de notre site web, vous acceptez les conditions générales d'utilisation et les dispositions de confidentialité décrites ci-dessous.
        </p>
        
        <h2>1. Conditions Générales d'Utilisation</h2>
        <p>
            Les utilisateurs de Share sont tenus de respecter nos conditions générales d'utilisation lors de l'utilisation de notre plateforme. Cela inclut des directives sur le contenu partagé, les comportements acceptables et les droits de propriété intellectuelle.
        </p>
        
        <h2>2. Confidentialité et Protection des Données</h2>
        <p>
            Chez Share, nous prenons la confidentialité et la protection des données très au sérieux. Consultez notre politique de confidentialité pour en savoir plus sur la manière dont nous collectons, utilisons et protégeons vos informations personnelles.
        </p>
        
        <h2>3. Propriété Intellectuelle</h2>
        <p>
            Tous les contenus partagés sur Share restent la propriété intellectuelle de leurs auteurs respectifs. Nous respectons les droits d'auteur et encourageons nos utilisateurs à faire de même.
        </p>
        
        <h2>4. Limitation de Responsabilité</h2>
        <p>
            Share ne peut être tenu responsable de tout dommage direct ou indirect résultant de l'utilisation de notre plateforme. Nous nous efforçons de fournir un service fiable, mais nous ne pouvons garantir son fonctionnement continu et sans erreur.
        </p>
        
        <p>
            Pour toute question concernant nos mentions légales, veuillez nous contacter à [adresse e-mail de contact].
        </p>
        
        <p>
            Merci d'avoir choisi Share pour vos besoins de partage en ligne.
        </p>
        
        <p>
            Bien cordialement,
            <br>L'équipe de Share
        </p>
    </div>
{% endblock %}
