{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}A propos de Share
{% endblock %}

{% block body %}
    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
        A PROPOS DE SHARE</h1>
        
    <div class="container mt-5">
        <p>
            Bienvenue sur Share !
        </p>
        
        <p>
            Chez Share, nous croyons en la puissance de partager des fichiers et des idées. Notre plateforme est conçue pour faciliter le partage sécurisé et efficace de fichiers tout en offrant un espace pour explorer des sujets passionnants via notre blog.
        </p>
        
        <p>
            Notre mission est de connecter les gens à travers le partage, qu'il s'agisse de fichiers importants pour le travail ou de contenus inspirants pour l'esprit. Nous nous engageons à fournir une plateforme conviviale, fiable et innovante pour répondre à vos besoins de partage de manière transparente.
        </p>
        
        <p>
            Que vous soyez un professionnel cherchant à collaborer avec des collègues ou un passionné désireux de partager vos idées avec le monde, Share est là pour vous accompagner dans votre voyage numérique.
        </p>
        
        <p>
            Explorez notre site pour découvrir nos fonctionnalités de partage de fichiers et plongez dans notre blog pour des articles captivants sur une variété de sujets. Rejoignez notre communauté de partage et faites partie de notre mission de connecter le monde à travers le partage.
        </p>
        
        <p>
            Merci d'avoir choisi Share pour vos besoins de partage en ligne.
        </p>
        
        <p>
            Bien cordialement,
            <br>L'équipe de Share
        </p>
    </div>
{% endblock %}
